.banner{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    padding: 3rem 7.5rem 6.25rem;
    background-color: var(--azul-escuro);
    color: var(--branco);
    text-align: center;
}

.titulo {
    font-family: var(--fonte-secundaria);
    font-size: 3rem;
    margin-bottom: 2rem;
}

.paragrafo {
    font-size: 1.5rem;
    line-height: 1.75rem;
}

.botaoPrincipal {
  display: inline-block;
  border-radius: 24px;
  padding: 0.75rem 1.5rem;
  font-size: 1.125rem;
  line-height: 1.125rem;
  background-color: var(--azul-medio);
  color: var(--branco);
  border: 3px solid var(--azul-medio);
  cursor: pointer;
  transition: 0.2s
}


.espacoEmBranco {
    height: 40vh;
}


@media (max-width: 1100px) {    



    .espacoEmBranco {
        height: 53vw;
    }
}

@media (max-width: 744px) {
    .banner {
        padding: 3rem 1rem 17rem;
    }

    .titulo {
        font-size: 2.25rem;
        line-height: 3rem;
    }

    .paragrafo {
        font-size: 1.125rem;
        line-height: 1.3125rem;
    }

    .espacoEmBranco {
        height: calc(94vw * 0.5);
    }
}