.menuHeader {
  background-color: var(--branco);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menuNav {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--cor-fonte-principal);
}

.menuLink {
  font-weight: 700;
  transition: color 0.3s ease;
}

.menuLink:hover {
  color: var(--azul-medio);
}

@media (max-width: 744px) {
  .menuNav {
    height: 72px;
    column-gap: 1.5rem;
  }
}
