.menu-header {
  background-color: #f5f5f5;
  padding: 10px;
}

.menu-nav {
  display: flex;
  gap: 20px; /* espaço entre links */
  align-items: center;
}

.menu-link {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.menu-link:hover {
  color: #007bff; /* muda cor ao passar o mouse */
}
