.menuNav {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 3rem;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--cor-fonte-principal);
}



.menuLink:hover {
  color: var(--azul-medio);
}

.active {
  border-bottom: 2px solid ;
}

@media (max-width: 744px) {
  .menuNav {
    height: 72px;
    column-gap: 1.5rem;
  }
}
